<?xml version="1.0"?>
<!-- URDF of Robot Simulation -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="bot_ackermann">

    <material name="Gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <material name="DarkGray">
    <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

    <!-- Physical Description -->
    <xacro:include filename="bot_base.xacro" />
    <!-- Simulation -->
    <xacro:include filename="gz_ackermann_core.xacro" />

    <!-- lidar -->
    <!-- <xacro:include filename="lidar_sensor.xacro" />

    <xacro:lidar_sensor
    parent_link="base_link"
    lidar_name="top_lidar"
    lidar_xyz="0 0 0.25"
    lidar_rpy="0 0 0"/> -->

    <!-- 3D lidar -->
    <xacro:include filename="lidar_3d.xacro"/>

    <xacro:lidar_3d
        parent_link="base_link"
        lidar_name="top_3d_lidar"
        xyz="0 0 0.32"
        rpy="0 0 0"/>

    <!-- RGBD  -->
    <xacro:include filename="RGBD_sensor.xacro"/>


    <xacro:rgbd_sensor
        parent_link="chassis_link"
        sensor_name="front_rgbd"
        x="0.5" y="0.0" z="-0.05"
        width="640" height="480"
        fps="30.0"
        fov="1.0472"
        near="0.1" far="30.0"/>





</robot>
